// Write your overrides
.vue-notification {
  // styling
  margin: 5px !important;
  padding: 10px;
  font-size: 15px !important;
  color: #ffffff;
  border-radius: 6px;
  // default (blue)
  background: #44a4fc;
  border-left: 5px solid #187fe7;

  // types (green, amber, red)
  &.success {
    background: rgb(var(--v-theme-success));
    border-left-color: rgb(var(--v-theme-success));
  }

  &.warn {
    background: rgb(var(--v-theme-warning));
    border-left-color: rgb(var(--v-theme-warning));
  }

  &.error {
    background: rgb(var(--v-theme-error));
    border-left-color: rgb(var(--v-theme-error));
  }
}
.layout-card {
  max-height: calc(100vh - 86px);
  height: calc(100vh - 112px);
  overflow-y: scroll;
  &::-webkit-scrollbar-track-piece {
    background: transparent;
  }

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #bec5ce;
    border-radius: 20px;
  }
  .file-lst {
    display: flex;
    overflow: scroll;
    padding: 4px 0;
    margin-bottom: 4px;
    &::-webkit-scrollbar-track-piece {
      background: transparent;
    }

    &::-webkit-scrollbar {
      width: 8px;
      height: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #bec5ce;
      border-radius: 20px;
    }
    .v-chip {
      min-width: 60px;
    }
  }
  .file {
    margin-right: 4px;
    // margin-bottom: 4px;
    max-width: 250px !important;
    min-width: 60px;
    white-space: normal;
    position: relative;
    cursor: pointer;
    font-weight: 600;
    font-size: 12px;
    &:hover {
      background: #f0f0f0;
    }
  }
  .quill {
    height: 200px;
    border: 2px solid rgb(var(--v-theme-grey));
    border-radius: 8px;
  }
}
.v-data-table-footer {
  padding: 0 4px !important;
}
