.home-container {
  // background: #f8fafb;
  width: 100%;
  // height: calc(100vh - 54px);
  padding: 8px;
  // overflow-y: scroll;
  margin-bottom: -24px;
  h3 {
    color: #211d4f;
    margin: 0;
    font-size: 22px;
  }
  .text-add {
    font-weight: 500;
    font-size: 18px;
    color: rgba(var(--v-theme-primary));
    margin-bottom: 8px;
    text-align: center;
  }
  .home {
    width: calc(100% - 16px);
    margin-top: 20px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    column-gap: 8px;

    .item {
      // background: #fff;
      border-radius: 16px;
      padding: 16px;
      box-shadow: 0 0 10px rgba(var(--v-theme-primary)) 56;
      .title-box {
        text-align: center;
        font-weight: 600;
        margin-bottom: 8px;
        color: #211d4f;
      }
      .top {
        color: rgba(var(--v-theme-primary));
        display: grid;
        grid-template-columns: calc(100% - 100px) 40px 60px;
        &:hover {
          // background: #ccc;
        }
        .money {
          font-size: 16px;
          font-weight: 700;
          margin: 0 0 8px 0;
          color: rgba(var(--v-theme-primary));
          text-align: right;
        }
        .unit {
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
    .frame {
      // background: #fff;
      border-radius: 16px;
      padding: 16px;
      box-shadow: 0 0 10px rgba(var(--v-theme-primary)) 56;
      .title-box {
        text-align: center;
        font-weight: 600;
        margin-bottom: 8px;
        color: #211d4f;
      }
      .item-2 {
        display: grid;
        grid-template-columns: 50% 50%;
        .top {
          color: rgba(var(--v-theme-primary));
          display: grid;
          grid-template-columns: calc(100% - 100px) 40px 60px;

          &:hover {
            background: #ccc;
          }
          .money {
            font-size: 16px;
            font-weight: 700;
            margin: 0 0 8px 0;
            color: rgba(var(--v-theme-primary));
            text-align: right;
          }
          .unit {
            font-size: 16px;
            font-weight: 500;
          }
        }
      }
    }
  }
  .load-view {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 10000;
    .title {
      padding: 80px 40px;
      background: #fff;
      width: 400px;
      position: absolute;
      top: 50%;
      left: 50%;
      color: #000;
      border-radius: 8px !important;
      transform: translate(-50%, -50%);
    }
  }
  .calender-all {
    width: 100%;
    .calendar {
      // background: #fff;

      box-shadow: 0 0 10px rgba(var(--v-theme-primary)) 27;

      width: 100%;
      padding: 16px;
      display: flex;

      .shift {
        overflow-x: auto;
        &::-webkit-scrollbar-track-piece {
          background: #ffffff00;
        }

        &::-webkit-scrollbar {
          width: 4px;
          height: 6px;
        }

        &::-webkit-scrollbar-thumb {
          margin-top: 8px;
          background: rgba(var(--v-theme-primary));
          border-radius: 20px;
        }
      }
      .shift2 {
        overflow-x: hidden;
      }
      .weekday {
        overflow-x: scroll;
        &::-webkit-scrollbar-track-piece {
          background: #fff;
        }

        &::-webkit-scrollbar {
          width: 4px;
          height: 0px;
        }

        &::-webkit-scrollbar-thumb {
          margin-top: 8px;
          background: rgba(var(--v-theme-primary));
          border-radius: 20px;
        }
      }
      .content {
        display: flex;
        position: relative;
        width: 100%;
        .line-header {
          width: 180px !important;
          padding: 12px 0;
          font-weight: 500;
          text-align: left;
          font-size: 14px;
          border-right: 1px dashed rgba(var(--v-theme-primary));
          .line-total {
            width: 40px;
            text-align: center;
            border-right: 1px dashed rgba(var(--v-theme-primary));
            color: rgba(var(--v-theme-primary));
          }
        }
        .line {
          width: 50px !important;
          min-height: 40px;
          padding: 12px 0;
          font-weight: 500;
          text-align: center;
          font-size: 14px;
          border-right: 1px dashed rgba(var(--v-theme-primary));
          cursor: pointer;
          &:hover {
            background: rgba(var(--v-theme-primary));
            color: #fff;
          }
        }
      }
      .box-height {
        overflow-y: auto;
        overflow-x: auto;
        width: calc(100% + 6px);
        height: calc(100vh - 260px) !important;
        &::-webkit-scrollbar-track-piece {
          background: #dfdfdf00;
        }

        &::-webkit-scrollbar {
          width: 6px;
          height: 6px;
        }

        &::-webkit-scrollbar-thumb {
          margin-top: 8px;
          background: rgba(var(--v-theme-primary));
          border-radius: 20px;
          margin-right: 8px;
        }
      }
      .box-height-name {
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;
        height: calc(100vh - 260px) !important;
        &::-webkit-scrollbar-track-piece {
          background: #ffffff00;
        }

        &::-webkit-scrollbar {
          width: 6px;
        }

        &::-webkit-scrollbar-thumb {
          margin-top: 8px;
          background: rgba(var(--v-theme-primary));
          border-radius: 20px;
        }
      }
    }
  }
  .info {
    background: #f2f2fd;
    height: 100%;
    border-radius: 16px;
    margin-left: 8px;
    padding: 16px;
    box-shadow: 0 0 10px rgba(var(--v-theme-primary)) 27;
    .top {
      display: flex;
      justify-content: right;
      i {
        color: rgba(var(--v-theme-primary));
        font-size: 20px;
        padding: 16px;
        margin-left: 8px;
        border-radius: 20px;
        background: #ffffff;
        cursor: pointer;
        &:hover {
          background: rgba(var(--v-theme-primary)) 18;
        }
      }
    }
    .body-info {
      .title {
        h3 {
          margin: 8px auto;
        }
      }
      width: 100%;
      .lst {
        .item {
          display: grid;
          grid-template-columns: 60% 20% 20%;
          border-bottom: 1px dashed rgba(var(--v-theme-primary));
          padding: 8px;
          border-radius: 2px;
          cursor: pointer;
          color: #211d4f;
          &:hover {
            background: #fff;
          }
          .value {
            font-weight: 600;
            text-align: right;
          }
          .total {
            text-align: right;
          }
        }
      }
    }
  }
  .highlight {
    background: rgba(var(--v-theme-grey-200));
  }
  .warning {
    color: #cc2b03 !important;
    font-weight: 600;
  }
  .headerHighlight {
    border-bottom: 2px solid rgba(var(--v-theme-primary));
    color: rgba(var(--v-theme-primary));
  }
  .quota-update {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin-bottom: 8px;
    .quota-item {
      font-weight: 600;
      color: rgba(var(--v-theme-primary));
    }
  }
}
.container-bt {
  padding-top: 9px;
  color: #000;
  .custom {
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
  }
}
